BraveSoftware/
Code/
FortiClient/
GNOME-xdg-terminals.list
.gsd-keyboard.settings-ported
Google/
JetBrains/
Microsoft/
ObinsKit/
Postman/
QtProject.conf
autostart/
calibre/
cef_user_data/
chromium/
com.add0n.node/
configstore/
dconf/
discord/
dunst/
enchant/
eog/
evolution/
gedit/
gh/
github-copilot/
gnome-control-center/
gnome-initial-setup-done
google-chrome/
gtk-3.0/
i3/
i3blocks/
ibus/
jgit/
libreoffice/
menus/
microsoft-edge/
microsoftedge/
mimeapps.list
monitors.xml
monitors.xml~
nautilus/
openfortivpn-webview/
pavucontrol.ini
picom.conf
polybar.old/
pulse/
rofi.cx02913/
solaar/
systemd/
teams/
teamviewer/
tiling-assistant/
totem/
ubuntu-xdg-terminals.list
user-dirs.dirs
vivaldi/
wireshark/
xdg-desktop-portal-wlr/
xdg-terminals.list